<aside class="sidebar">

  <!-- Marca -->
  <div class="sidebar-brand">
    <a routerLink="/home" class="brand-link">
      <mat-icon fontSet="material-symbols-outlined" style="color: #2563eb"
        ></mat-icon
      >
      <span class="brand-text" style="color: #cbd5e1">DACS Frontend</span>
    </a>
  </div>

  <!-- Navegación -->
  <nav class="sidebar-nav">
    <a routerLink="/home" routerLinkActive="active" class="nav-link">
      <mat-icon fontSet="material-symbols-outlined" style="color: #2563eb">home</mat-icon>
      Inicio
    </a>

    <a routerLink="/solicitudes" routerLinkActive="active" class="nav-link">
      <mat-icon fontSet="material-symbols-outlined" style="color: #2563eb">calendar_month</mat-icon>
      Cirugías
    </a>

    <a routerLink="/urgencias" routerLinkActive="active" class="nav-link">
      <mat-icon fontSet="material-symbols-outlined" style="color: #2563eb">e911_emergency</mat-icon>
      Urgencias
    </a>

    @if (!hasRole('personal_medico')) {
      <a routerLink="/personal" routerLinkActive="active" class="nav-link">
        <mat-icon fontSet="material-symbols-outlined" style="color: #2563eb">groups</mat-icon>
        Personal
      </a>
    }

    <a routerLink="/insumos" routerLinkActive="active" class="nav-link">
      <mat-icon fontSet="material-symbols-outlined" style="color: #2563eb">inventory_2</mat-icon>
      Insumos
    </a>

    @if (!hasRole('personal_medico')) {
      <a routerLink="/paciente" routerLinkActive="active" class="nav-link">
        <mat-icon fontSet="material-symbols-outlined" style="color: #2563eb">monitor_heart</mat-icon>
        Pacientes
      </a>
    }

    @if (!hasRole('personal_medico')) {
      <a routerLink="/usuarios" routerLinkActive="active" class="nav-link">
        <mat-icon fontSet="material-symbols-outlined" style="color: #2563eb"
          >manage_accounts</mat-icon
        >
        Usuarios
      </a>
    }
  </nav>

  <!-- User -->
  <div class="sidebar-user">
    @if (!isLoggedIn) {
      <button mat-raised-button color="primary" (click)="login()">
        <mat-icon>login</mat-icon>
        Iniciar sesión
      </button>
    } @else {
      <div class="user-box" (click)="toggleUserMenu()">
        <div class="avatar">{{ getAvatarLetter() }}</div>

        <div class="user-details">
          <div class="name">{{ getFullName() }}</div>
          <div class="email">{{ getEmail() }}</div>
        </div>
      </div>

      @if (showUserMenu) {
        <div class="user-dropdown">
          <button (click)="goToAccount()" class="dropdown-item">
            <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
            Mi Cuenta
          </button>

          <button (click)="logout()" class="dropdown-item logout">
            <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
            Cerrar sesión
          </button>
        </div>
      }
    }
  </div>
</aside>

@if (showUserMenu) {
  <div class="overlay" (click)="closeUserMenu()"></div>
}
