<div mat-dialog-content class="dialog-content" [formGroup]="form">
  <h2 mat-dialog-title>
    <mat-icon class="title-icon">badge</mat-icon>
    Personal
  </h2>
  <div class="content-dialog">
    <!-- nombre -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required />
      <mat-error *ngIf="form.get('nombre')?.hasError('required')"> </mat-error>
    </mat-form-field>

    <!-- apellido -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" required />
      <mat-error *ngIf="form.get('apellido')?.hasError('required')"> </mat-error>
    </mat-form-field>

    <!-- dni -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Dni</mat-label>
      <input matInput formControlName="dni" required />
      <mat-error *ngIf="form.get('dni')?.hasError('required')"> </mat-error>
    </mat-form-field>

    <!-- legajo -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Legajo</mat-label>
      <input matInput formControlName="legajo" required />
      <mat-error *ngIf="form.get('legajo')?.hasError('required')"> </mat-error>
    </mat-form-field>

    <!-- Especialidad -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Especialidad</mat-label>
      <input matInput formControlName="especialidad" required />
      <mat-error *ngIf="form.get('especialidad')?.hasError('required')"> </mat-error>
    </mat-form-field>

    <!-- Rol -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Rol</mat-label>
      <input matInput formControlName="rol" required />
      <mat-error *ngIf="form.get('rol')?.hasError('required')"> </mat-error>
    </mat-form-field>

    <!-- Estado -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="estado" required />
      <mat-error *ngIf="form.get('estado')?.hasError('required')"> </mat-error>
    </mat-form-field>

    <!-- Telefono -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Telefono</mat-label>
      <input matInput formControlName="telefono" inputmode="numeric" required />
      <mat-error *ngIf="form.get('telefono')?.hasError('required')"> </mat-error>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</div>
