@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #4663e4 0%, #764ba2 100%);
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}